<div class="page">

<img class="picture" src="../../../assets/cat_rsvp.png">
<br><br>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="First and Last">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Plus One (Optional)</mat-label>
      <input matInput placeholder="First and Last">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Attending</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of attending" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Bringing anything?</mat-label>
      <textarea matInput placeholder="I will bring..."></textarea>
    </mat-form-field>
  </form>
</div>