.page {
    justify-content: center;
    width: 100%;
    display: flex;
}

.picture {
    width: 20%;
    padding: 30px;
    border-radius: 50px;
    
}

.example-form {
    display: block;
    background-color: white;
    opacity: 75%;
    margin-top: 30px;
    padding: 30px;
    color: white;
    border-radius: 50px;
}

mat-form-field {
    padding: 10px;
}