<div class="page">

    <img class="picture" src="../../../assets/cat_question.png">

    <div class="faqSection">
    <br>
    <h1>FAQ</h1>

    <br>

    <h2>What will the party be like?</h2>
    It will be a Halloween party with costumes highly encouraged. We will have snacks and drinks.
    We have some games planned with prizes, including a costume contest.

    <br><br>

    <h2>What should I bring?</h2>
    We will have snacks, but it is BYOB. We will have some beer available.  <br>
    Feel free to bring snacks as well but please ensure it is vegan. Thank you!
    
    <br><br>


    <h2>Can I bring/invite more than one other person?</h2>
    Yes, just please let us know if how many and who you plan to bring!

    <br><br><br>

</div>
</div>